<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzl.incomeexpensemanagesystem.mapper.FeedbackMapper">

                    <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        feedback_id, user_id, content, create_time
    </sql>

    <!--分页模糊查询用户反馈(管理员)-->
    <select id="selectPageFeedback" resultType="com.mzl.incomeexpensemanagesystem.vo.FeedbackVo">
        select u.username, f.* from feedback f, user u
        <where>
            f.user_id  = u.user_id and u.deleted = 1
            <if test="feedbackVo.username != '' and feedbackVo.username != null">
                and u.username like '%${feedbackVo.username}%'
            </if>
            <if test="feedbackVo.collected != 0 and feedbackVo.collected != null">
                and f.collected = #{feedbackVo.collected}
            </if>
        </where>
    </select>

    <!--收藏用户反馈(管理员)-->
    <update id="collectFeedback">
        update feedback set collected = 2 where feedback_id = #{feedbackId}
    </update>

    <!--取消收藏用户反馈(管理员)-->
    <update id="unCollectFeedback">
        update feedback set collected = 1 where feedback_id = #{feedbackId}
    </update>

</mapper>