<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzl.incomeexpensemanagesystem.mapper.WishListMapper">

                    <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        wish_list_id, user_id, name, content, num, state, create_time
    </sql>

    <!--分页模糊查询心愿单-->
    <select id="selectPageWish" resultType="com.mzl.incomeexpensemanagesystem.vo.WishListVo">
        select * from wish_list
        <where>
            user_id = #{wishListVo.userId}
            <if test="wishListVo.name != '' and wishListVo.name != null">
                and name like '%${wishListVo.name}%'
            </if>
            <if test="wishListVo.content != '' and wishListVo.content != null">
                and content like '%${wishListVo.content}%'
            </if>
            <if test="wishListVo.state != 0 and wishListVo.state != null">
                and state = #{wishListVo.state}
            </if>
            <if test="wishListVo.realCreateTime != '' and wishListVo.realCreateTime != null">
                and DATE_FORMAT(DATE_ADD(create_time, INTERVAL 8 hour), '%Y-%m-%d') = #{wishListVo.realCreateTime}
            </if>
        </where>
    </select>


</mapper>